<div class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">  
  <div class="container">

    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>
    
     <div class="collapse navbar-collapse" id="navbarResponsive">       
        <ul class="navbar-nav">
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/disco" id="themes">Disco <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" href="/disco">Disco</a>        
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/disco/Carne">Carne</a>
            <a class="dropdown-item" href="/disco/Lacteos">Lacteos</a>
            <a class="dropdown-item" href="/disco/FrutYVerd">FrutYVerd</a>
            <a class="dropdown-item" href="/disco/Fiambres">Fiambres</a>
            <a class="dropdown-item" href="/disco/Quesos">Quesos</a>
            <a class="dropdown-item" href="/disco/Pastas">Pastas</a>
            <a class="dropdown-item" href="/disco/Canasta">Canasta</a>
            <a class="dropdown-item" href="/disco/Mascotas">Mascotas</a>
            <a class="dropdown-item" href="/disco/Perfumeria">Perfumeria y Limpieza</a>       
          </div>
         </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/tiendainglesa" id="themes">Tienda Inglesa <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" href="/tiendainglesa">Tienda Inglesa</a>        
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/tiendainglesa/Carne">Carne</a>
            <a class="dropdown-item" href="/tiendainglesa/Lacteos">Lacteos</a>
            <a class="dropdown-item" href="/tiendainglesa/FrutYVerd">FrutYVerd</a>
            <a class="dropdown-item" href="/tiendainglesa/Fiambres">Fiambres</a>
            <a class="dropdown-item" href="/tiendainglesa/Quesos">Quesos</a>
            <a class="dropdown-item" href="/tiendainglesa/Canasta">Canasta</a>
            <a class="dropdown-item" href="/tiendainglesa/Pañales">Pañales</a>            
            <a class="dropdown-item" href="/tiendainglesa/Mascotas">Mascotas</a>
            <a class="dropdown-item" href="/tiendainglesa/Perfumeria">Perfumeria</a> 
            <a class="dropdown-item" href="/tiendainglesa/Limpieza">Limpieza</a> 
          </div>
         </li>

        <li class="nav-item">
          <a class="nav-link" href="/rebajas">Rebajas</a>
        </li>
      

        
      
      
        <form class="form-inline my-2 my-md-0 bar" method="GET" action="/search" >
          <input class="form-control" type="text" name="query" id="query" placeholder="Buscar">
        </form>
      
    </ul>
    </div>
  </div> 
  </div> 
  </div> 




































