<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
    
    <div class="container">
      <a class="navbar-brand" href="/">Home</a>
      <div class="btn-group mr-4">
        <button type="button" class="btn btn-primary" onclick="window.location.href = '/disco';">Disco</button>         
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/disco/Carne">Carne</a>
          <a class="dropdown-item" href="/disco/Lacteos">Lacteos</a>
          <a class="dropdown-item" href="/disco/FrutYVerd">FrutYVerd</a>
          <a class="dropdown-item" href="/disco/Fiambres">Fiambres</a>
          <a class="dropdown-item" href="/disco/Quesos">Quesos</a>
          <a class="dropdown-item" href="/disco/Pastas">Pastas</a>
          <a class="dropdown-item" href="/disco/Canasta">Canasta</a>
          <a class="dropdown-item" href="/disco/Mascotas">Mascotas</a>
          <a class="dropdown-item" href="/disco/Perfumeria">Perfumeria y Limpieza</a>       
        </div>
      </div>
      <div class="ti">
        <div class="btn-group mr-3">
          <button type="button" class="btn btn-info" onclick="window.location.href = '/tiendainglesa';">Tienda Inglesa</button>         
          <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/tiendainglesa/Carne">Carne</a>
            <a class="dropdown-item" href="/tiendainglesa/Lacteos">Lacteos</a>
            <a class="dropdown-item" href="/tiendainglesa/FrutYVerd">FrutYVerd</a>
            <a class="dropdown-item" href="/tiendainglesa/Fiambres">Fiambres</a>
            <a class="dropdown-item" href="/tiendainglesa/Quesos">Quesos</a>
            <a class="dropdown-item" href="/tiendainglesa/Canasta">Canasta</a>
            <a class="dropdown-item" href="/tiendainglesa/Pañales">Pañales</a>            
            <a class="dropdown-item" href="/tiendainglesa/Mascotas">Mascotas</a>
            <a class="dropdown-item" href="/tiendainglesa/Perfumeria">Perfumeria</a> 
            <a class="dropdown-item" href="/tiendainglesa/Limpieza">Limpieza</a> 
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarsExample07">
       
        <form class="form-inline my-2 my-md-0" method="GET" action="http://127.0.0.1:5000/search" >
          <input class="form-control" type="text" name="query" id="query" placeholder="Buscar">
        </form>
      </div>    
    </div> 
</nav>

































