{% extends 'layout.html' %}

	{% block body %}

	<table class="table table-striped">
			<tr>
				<th>Nombre</th>				
				<th>Último cambio</th>
				<th>Sitio</th>
				<th>Precio</th>						
			</tr>

		{% for objeto in categorias %}
			<tr>
				<td><a href="{{ url_for('objeto_detalles', nombre=objeto['nombre'] ) }}">{{objeto['nombre']}}</a></td>					
				<td>{{objeto['precios'][-1]['fecha'].strftime("%d/%m/%y")}}</td>
				<td>{{objeto['sitio']}}</td>
				<td>{{objeto['precios'][-1]['precio']}}</td>			
			</tr>
		{% endfor %}
		</table>
		{{ pagination.links }}

	{% endblock %}