{% extends 'layout.html' %}

	{% block body %}


	<h1 align="center">Articulos Rebajados</h1>

	<form class="form-inline my-2 my-md-0" method="GET" action="http://127.0.0.1:5000/rebajas" >
		<button type="submit" name="rebaja" value="10" id="rebaja" class="form-control btn btn-outline-success">10%</button>
	</form>
	
	<form class="form-inline my-2 my-md-0" method="GET" action="http://127.0.0.1:5000/rebajas" >
		<button type="submit" name="rebaja" value="20" id="rebaja" class="form-control btn btn-outline-success">20%</button>
	</form>

	<form class="form-inline my-2 my-md-0" method="GET" action="http://127.0.0.1:5000/rebajas" >
		<button type="submit" name="rebaja" value="30" id="rebaja" class="form-control btn btn-outline-success">30%</button>
	</form>

	<form class="form-inline my-2 my-md-0" method="GET" action="http://127.0.0.1:5000/rebajas" >
		<button type="submit" name="rebaja" value="40" id="rebaja" class="form-control btn btn-outline-success">>40%</button>
	</form>

		<table class="table table-striped">
			<tr>
				<th>Nombre</th>				
				<th>Último cambio</th>
				<th>Sitio</th>
				<th>Precio</th>
			</tr>


		
		{% for objeto in objetos %}
			<tr>
				<td><a href="articulos/{{objeto['nombre']}}">{{objeto['nombre']}}</a></td>
				<td>{{objeto['precios'][-1]['fecha'].strftime("%d/%m/%y")}}</td>
				<td>{{objeto['sitio']}}</td>
				<td>{{objeto['precios'][-1]['precio']}}</td>
			</tr>

		{% endfor %}
		</table>

		






	{% endblock %}